/* selector universar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: 'lato';
  src: url("../tipografias/NotoSans-Regular.ttf");
  font-style: normal; }

@font-face {
  font-family: 'lato';
  src: url("../tipografias/NotoSans-Bold.ttf");
  font-weight: bold; }

body {
  font-family: 'lato';
  background-color: #B6E2A1;
  color: black;
  max-width: 1200px;
  margin: 0px auto; }

a {
  text-decoration: none;
  color: #000000; }

li {
  list-style-type: none; }

/* encabezado */
.encabezado {
  /* background-color: #FFFBC1; */
  background: #dedede;
  background: linear-gradient(180deg, #dedede 0%, #fffbc1 84%, #d6fcc4 100%);
  margin: 0 auto;
  z-index: 100;
  position: sticky;
  top: 0px;
  max-width: 1200px; }
  .encabezado__contenido {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto; }
    .encabezado__contenido-logo {
      animation: ease-in anilogo 1s;
      margin: 5px; }
    .encabezado__contenido-menu {
      flex-grow: initial; }
    .encabezado__contenido-menu ul {
      display: flex;
      align-items: center; }
      .encabezado__contenido-menu ul li {
        margin: 0px 15px;
        transition: all 0.1s; }
        .encabezado__contenido-menu ul li:active {
          transform: scale(0.9);
          background-color: #B6E2A1;
          border-radius: 10px; }
        .encabezado__contenido-menu ul li:nth-child(2) {
          border: 1px solid #B6E2A1;
          padding: 5px;
          border-radius: 5px; }
        .encabezado__contenido-menu ul li a {
          transition: all 0.3s; }
          .encabezado__contenido-menu ul li a:hover {
            color: #6d1c1c; }

@keyframes anilogo {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

/* footer */
footer {
  display: flex;
  justify-content: center; }

.footer {
  background: #888888;
  background: linear-gradient(0deg, #888888 0%, #fffbc1 100%);
  padding: 15px 10px;
  max-width: 1200px;
  margin: 0px auto;
  position: fixed;
  bottom: 0;
  width: 100%; }

.footer--directorio {
  background: #888888;
  background: linear-gradient(0deg, #888888 0%, #fffbc1 67%, #cdffb5 100%);
  padding: 15px 10px;
  max-width: 1200px;
  margin: 0px auto;
  width: 100%; }

.pie {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0px auto;
  justify-content: space-between; }
  .pie__unirse a {
    color: #6d1c1c; }
  .pie__redes {
    display: flex; }
    .pie__redes li {
      margin: 0px 15px; }

.bi {
  font-size: 2rem; }

.separador__boku {
  background-image: url(../images/separadorboku.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%; }

.separador__kage {
  background-image: url(../images/separadorkagenojitsu.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%; }

.separador__arknights {
  background-image: url(../images/separadorarknightsaeimeiaensou.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%; }

.separador__chainsaw {
  background-image: url(../images/separadorchainsawman.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%; }

.separador__fuufuijou {
  background-image: url(../images/separadorfuufuijou.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%; }

.separador__gwitch {
  background-image: url(../images/separadorgwitch.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%; }

.separador__spyx {
  background-image: url(../images/separadorspyxfamily.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%; }

.separador__tenken {
  background-image: url(../images/separadortenken.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%; }

.separador__mob3 {
  background-image: url(../images/separadormob3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%; }

.separador__bluelock {
  background-image: url(../images/separadorbluelock.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%; }

.separador__numinkanren {
  background-image: url(../images/separadornuminkanrennoskill.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%; }

.separador__beasttamer {
  background-image: url(../images/separadorbeasttamer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%; }

.separador__uzakidouble {
  background-image: url(../images/separadoruzakidouble.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%; }

.separador__iruma3 {
  background-image: url(../images/separadoriruma3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%; }

.separador__petergrillsuperextra {
  background-image: url(../images/separadorpetergrillsuperextra.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%; }

.separador__bleachsennen {
  background-image: url(../images/separadorbleachsennen.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%; }

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/collageanime2.jpg);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 50px; }

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  width: 70%; }

.contenedortarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  transition: all 1s;
  margin: 0px auto;
  max-width: 1500px; }

.tarjeta {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #f5f5f5;
  width: 350px;
  height: 500px;
  border-radius: 15px;
  padding: 15px;
  transition: all 1s;
  margin: 10px;
  justify-content: space-between; }
  .tarjeta__descripcion {
    overflow-y: scroll;
    text-align: justify;
    font-size: 13px;
    margin: 5px; }
  .tarjeta__imagen {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center; }
  .tarjeta:hover {
    transform: scale(1.1); }
  .tarjeta a {
    color: #6d1c1c;
    background-color: #d2fabe;
    border-radius: 5px;
    margin: 20px; }

.titulo {
  display: flex;
  align-items: flex-end;
  margin: 10px 60px; }
  .titulo__text {
    margin: 0px 60px;
    color: black; }
  .titulo__imege {
    width: 300px;
    height: 168px; }

.texto-anime {
  color: black;
  margin: 40px;
  text-indent: 2em;
  text-align: justify; }
  .texto-anime h3 {
    text-align: center;
    margin: 15px; }
  .texto-anime__tabla {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse; }
    .texto-anime__tabla tr td {
      padding: 10px;
      border: 1px solid #000000;
      text-align: center; }

/* separador   */
.separador {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px; }
  .separador__linea {
    border-top: 8px solid #817979;
    border-radius: 5px;
    width: 800px; }
  .separador__imagen {
    width: 1200px;
    height: 150px;
    margin-top: 5px; }

.iframe {
  width: 500px;
  height: 315px; }

.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px; }
  .nosotros__titulo {
    display: flex;
    align-items: center; }
  .nosotros__texto {
    max-width: 800px;
    border: 10px;
    border-radius: 20px;
    border-color: #ebe5e5;
    text-align: justify;
    background-color: #000000;
    color: #faebd7;
    padding: 20px;
    margin: 30px 10px;
    text-indent: 2em; }

.contacto--texto {
  margin: 20px 0px 30px 0px;
  text-align: center; }

.contact {
  text-align: center;
  margin: 0px auto;
  background-image: url(../images/collageanime2.jpg);
  background-size: cover; }
  .contact__form {
    padding: 20px;
    display: inline-block;
    border: 3px solid #000000;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgba(110, 107, 64, 0.75);
    color: white; }
    .contact__form--datos {
      display: flex;
      flex-direction: column;
      padding-bottom: 20px; }
      .contact__form--datos input {
        width: 300px;
        height: 20px;
        text-align: center;
        margin-bottom: 5px; }
    .contact__form--comentarios {
      display: flex;
      flex-direction: column; }

@media only screen and (max-width: 1200px) {
  .separador__imagen {
    width: max-content; }
  .separador__linea {
    width: 100%; } }

@media only screen and (max-width: 992px) {
  .titulo {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .titulo__text {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center; }
  .tarjeta {
    width: 350px; }
  .separador__imagen {
    width: max-content; }
  .separador__linea {
    width: 100%; } }

@media only screen and (max-width: 768px) {
  .tarjeta {
    width: 400px; }
  .separador__imagen {
    width: max-content; }
  .separador__linea {
    width: 100%; } }

@media only screen and (max-width: 576px) {
  .tarjeta {
    width: 350px; }
  .videos {
    display: flex;
    flex-direction: column;
    align-items: center; }
  iframe {
    width: 450px; }
  .pie__unirse {
    display: none; }
  .pie__redes {
    margin: 0 auto; }
  .separador__imagen {
    width: max-content; }
  .separador__linea {
    width: 100%; } }
