/* selector universar */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'lato';
    src: url('../tipografias/NotoSans-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url('../tipografias/NotoSans-Bold.ttf');
    font-weight: bold;
}

@media () {
    
}

body{
    font-family: 'lato';
    background-color: #B6E2A1;
    color: black;
}

/* global */
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}

/* Hero */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(../images/collageanime2.jpg);
    height: 500px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}








/* encabezado */
.encabezado {
    background-color: #FFFBC1;
    padding: 15px 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.encabezado__contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #FFFBC1;
}

.encabezado__contenido-menu {
    display: flex;
}

.encabezado__contenido-menu li {
    margin: 0px 15px;
}

/* footer */
footer{
    display: flex;
    justify-content: center;
}
.footer {
    background-color:#FFFBC1;
    padding: 15px 10px;
    max-width: 1200px;
    margin: 0px auto;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer--directorio {
    background-color:#FFFBC1;
    padding: 15px 10px;
    max-width: 1200px;
    margin: 0px auto;
    width: 100%;
}


.pie {   
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0px auto;
    justify-content: space-between;
    
}

.pie__redes{
    display: flex;

}
.pie__redes li {
    margin: 0px 15px;
}

/* Directorio anime */
.contenedortarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tarjeta{
    display: flex;
    flex-direction: column;
    align-content: center;
   
    background-color: #f5f5f5;
    width: 300px;
    height: 500px;
    border-radius: 15px;
    padding: 15px;
}


.tarjeta__descripcion{
    overflow-y: scroll;
}

article {
    display: inline;
    margin: 10px;
}

.contenedortarjetas {
    display: flex;

}


/* Paginas de anime */

.titulo {
    display: flex;
    align-items: flex-end;
    margin: 10px 60px ;
}

.titulo__text {
    margin: 0px 60px;
    color: black;
}

hr.rounded {
    border-top: 8px solid rgb(129, 121, 121);
    border-radius: 5px;
    width: 800px; 
}

.texto-anime {
    color: black;
}

.texto-anime__lista{
    display: flex;
    margin: 10px 40px;
}

.texto-anime__lista li {
    margin: 0px 20px;
}

    /* separador   */

.separador {
    background-image: url(../images/separadorboku.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 1200px;
    height: 50px;
    margin-top: 5px;
}    

.separador-linea {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0px;
}


/* nosotros */
.nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px ;
}
.nosotros__texto {
    width: 800px;
    border: 10px;
    border-radius: 20px;
    border-color: rgb(235, 229, 229);
    text-align: justify;
    background-color: black; 
    color: antiquewhite;
    padding: 20px;
    margin: 30px 0px;
}
.nosotros__titulo {
    display: flex;     
    align-items: center;
}

.contacto {
    display: block;
    border: 3px;
    border-radius: 2px;
    box-sizing: border-box;
}