.contenedortarjetas {
    @extend .contenido;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    transition: all 1s ;
}
.tarjeta{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #f5f5f5;
    width: 350px;
    height: 500px;
    border-radius: 15px;
    padding: 15px;
    transition: all 1s;
    margin: 10px;
    justify-content: space-between;
    
        &__descripcion{
            overflow-y: scroll;
            text-align: justify;
            font-size: 13px;
            margin: 5px;
        }
        &__imagen{
            @extend .flexcolumn;
            align-content: center;
        
        }
        &:hover{
            transform: scale(1.1);
        }
        a{
            color: $anchor;
            background-color: #d2fabe;
            border-radius: 5px;
            margin: 20px;
        }
}





