/* footer */
footer{
    display: flex;
    justify-content: center;
}
.footer {
    @extend .contenido;
    background: $backgroundfooter;
    padding: 15px 10px;
    position: fixed;
    bottom: 0;
    width: 100%;    
}

.footer--directorio {
    @extend .contenido;
    background: $backgroundfooter;
    padding: 15px 10px;
    width: 100%;
}

.pie {   
    @extend .contenido;
    display: flex;
    align-items: center;
    justify-content: space-between;

        &__unirse{
                a {
                    color: $anchor;
                }
        }
        &__redes {
            display: flex;
                li{
                    margin: 0px 15px;
                }
            
        }
}

.bi{
    font-size: 2rem;
}
