/* selector universar */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'lato';
    src: url('../tipografias/NotoSans-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url('../tipografias/NotoSans-Bold.ttf');
    font-weight: bold;
}

body{
    @extend .contenido;
    font-family: 'lato';
    background-color: $backgroundbody;
    color: $fontcolor;
}

a {
    text-decoration: none;
    color: $fontcolor;
}
li {
    list-style-type: none;
}

// Extends

.imagenseparador{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.contenido{
    max-width: 1200px;
    margin: 0px auto;
}

.flexcolumn{
    display: flex;
    flex-direction: column;
    align-items: center;
}