/* encabezado */
.encabezado {
    @extend .contenido;
    background: $backgroundheader;    
    z-index: 100;
    position: sticky;
    top: 0px;

        &__contenido {
            @extend .contenido;
            display: flex;
            align-items: center;
            
                &-logo {
                    animation: ease-in anilogo 1s;
                    margin: 5px;
                    height: 45px;                   
                    width: 100px;
                }

                &-menu{
                    flex-grow: initial;
                }
                
                &-menu ul {
                    display: flex;
                    align-items: center;
                        li {
                            margin: 0px 15px;
                            transition: all 0.1s;  
                                &:active {
                                    transform: scale(0.9);
                                    background-color:$backgroundbody;
                                    border-radius: 10px;
                                }   
                                &:nth-child(2) {
                                    border: 1px solid $backgroundbody;
                                    padding: 5px;
                                    border-radius: 5px;                            
                                }
                                a {
                                    transition: all 0.3s;
                                        &:hover {
                                            color: $anchor;
                                        }
                                }
                        }
                }
        }
}

@keyframes anilogo {
    0% {
        transform: scale(0);
    }
    100% {
        transform:scale(1);
    }
}

