@media only screen and (max-width: 1200px) {
   .separador{
      &__imagen{
         width: max-content;
      }
      &__linea{
         width: 100%;
      }
   }


}

@media only screen and (max-width: 992px) {
   .titulo{
      display: flex;
      flex-direction: column;
      align-items: center;
      &__text{
         display: flex;
         flex-direction:column ;
         width: 100%;
         align-items: center;
      }
   }
   .tarjeta {
      width: 350px;
   }
   .separador{
      &__imagen{
         width: max-content;
      }
      &__linea{
         width: 100%;
      }
   }
  

}




@media only screen and (max-width: 768px) {
   .tarjeta {
      width: 400px;
     }
     .separador{
      &__imagen{
         width: max-content;
      }
      &__linea{
         width: 100%;
      }
   }

  
}


@media only screen and (max-width: 576px){
   .tarjeta {
    width: 350px;
   }
   .videos{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   iframe{
    width: 450px;
   }
   .pie{
      &__unirse{
         display: none;
      }
      &__redes{
        margin: 0 auto;
      }
   }
   .separador{
      &__imagen{
         width: max-content;
      }
      &__linea{
         width: 100%;
      }
   }
}

