.separador__boku{
    background-image: url(../images/separadorboku.webp);
    @extend .imagenseparador;
}

.separador__kage{
    background-image: url(../images/separadorkagenojitsu.webp);
    @extend .imagenseparador;
}

.separador__arknights{
    background-image: url(../images/separadorarknightsaeimeiaensou.webp);
    @extend .imagenseparador;
}
.separador__chainsaw{
    background-image: url(../images/separadorchainsawman.webp);
    @extend .imagenseparador;
}
.separador__fuufuijou{
    background-image: url(../images/separadorfuufuijou.webp);
    @extend .imagenseparador;
}
.separador__gwitch{
    background-image: url(../images/separadorgwitch.webp);
    @extend .imagenseparador;
}
.separador__spyx{
    background-image: url(../images/separadorspyxfamily.webp);
    @extend .imagenseparador;
}
.separador__tenken{
    background-image: url(../images/separadortenken.webp);
    @extend .imagenseparador;
}
.separador__mob3{
    background-image: url(../images/separadormob3.webp);
    @extend .imagenseparador;
}
.separador__bluelock{
    background-image: url(../images/separadorbluelock.webp);
    @extend .imagenseparador;
}
.separador__numinkanren{
    background-image: url(../images/separadornuminkanrennoskill.webp);
    @extend .imagenseparador;
}
.separador__beasttamer{
    background-image: url(../images/separadorbeasttamer.webp);
    @extend .imagenseparador;
}
.separador__uzakidouble{
    background-image: url(../images/separadoruzakidouble.webp);
    @extend .imagenseparador;
}
.separador__iruma3{
    background-image: url(../images/separadoriruma3.webp);
    @extend .imagenseparador;
}
.separador__petergrillsuperextra{
    background-image: url(../images/separadorpetergrillsuperextra.webp);
    @extend .imagenseparador;
}
.separador__bleachsennen{
    background-image: url(../images/separadorbleachsennen.webp);
    @extend .imagenseparador;
}