.separador__boku{
    background-image: url(../images/separadorboku.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.separador__kage{
    background-image: url(../images/separadorkagenojitsu.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}