// variables
$backgroundfooter: linear-gradient(0deg, rgba(136,136,136,1) 0%, rgba(255,251,193,1) 67%, rgba(205,255,181,1) 100%);
$backgroundheader: linear-gradient(180deg, rgba(222,222,222,1) 0%, rgba(255,251,193,1) 84%, rgba(214,252,196,1) 100%);
$backgroundbody:#B6E2A1;
$anchor: rgb(109, 28, 28);
$fontcolor: #000000;


// breackpoints

$bpsmall: 576px;
$bpmedium: 768px;
$bplarge: 992px;